/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.12.2016, 13:47:42
    Author     : myst
*/
body#admin.skin-blue .main-header .logo {
  background-color: #2c3b41;
}
body#admin.skin-blue .main-header nav {
  background-color: #222d32;
}
body#admin.skin-blue .main-header nav h1 {
  color: #ecf0f5;
  font-weight: bold;
  margin: 12px 20px;
  font-size: 20px;
  font-style: italic;
}
body#admin.skin-blue .main-header .dropdown-menu {
  padding-top: 0;
}
body#admin.skin-blue .main-header .dropdown-menu li.user-header {
  background-color: #222d32;
}
body#admin .content-header {
  background: rgba(186, 198, 214, 0.36);
  padding: 0 15px 0 15px;
}
body#admin .content-header > .breadcrumb {
  float: none;
  position: initial;
}
body#admin section.content {
  position: relative;
}
body#admin .edit-btn {
  margin-bottom: 10px;
}
body#admin .grid-view th {
  background: #dcdcdc;
  text-align: center;
  vertical-align: middle;
}
body#admin .grid-view .summary {
  text-align: right;
}
body#admin .form-control {
  border-radius: 3px;
}
body#admin #search-result {
  position: absolute;
  background: #fff;
  padding: 10px;
  z-index: 99;
  border: 1px solid #d2d6de;
  min-width: 400px;
  border-radius: 0 3px 3px 3px;
  margin-top: -2px;
  box-shadow: 4px 4px 4px 0 rgba(34, 45, 50, 0.44);
}
body#admin #search-result .result-item {
  padding: 4px 10px;
  border-bottom: 1px solid #d2d6de;
}
body#admin #search-result .result-item:hover {
  background: rgba(255, 255, 226, 0.65);
}
body#admin #order-details {
  background: #fff;
}
body#admin #order-details .order-info {
  display: block;
  background: rgba(238, 238, 238, 0.34);
  margin-top: -8px;
  padding: 8px;
}
body#admin #order-details h5 {
  font-weight: bold;
}
body#admin #order-details img {
  height: 40px;
}
body#admin #order-details table {
  margin-bottom: 0;
}
body#admin #order-details th {
  text-align: left;
}
body#admin #order-details td {
  vertical-align: middle;
}
