/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.12.2016, 13:47:42
    Author     : myst
*/
//@import "less/variables-admin.less";
//@import "less/bootstrap.less";


body#admin{
	&.skin-blue .main-header {
		.logo{background-color:#2c3b41}
		nav{background-color: #222d32;
			h1{    color: #ecf0f5;
			   font-weight: bold;
			   margin: 12px 20px;
			   font-size: 20px;
			   font-style: italic;}
		}
		.dropdown-menu{padding-top: 0;
			li.user-header{background-color: #222d32;}
		}
	}
	.content-header{background: rgba(186, 198, 214, 0.36);padding: 0 15px 0 15px;
					>.breadcrumb{float: none;position: initial;}
	}
	section.content{position: relative}
	.edit-btn{ margin-bottom: 10px}
	.grid-view {
		th{    background: #dcdcdc;   text-align: center;vertical-align: middle;}
		.summary{text-align: right;}
	}
	.form-control{    border-radius: 3px;}
	#search-result{
		position: absolute;
		background: #fff;
		padding: 10px;
		z-index: 99;
		border: 1px solid #d2d6de;
		min-width: 400px;
		border-radius: 0 3px 3px 3px;
		margin-top: -2px;
		box-shadow: 4px 4px 4px 0 rgba(34, 45, 50, 0.44);
		.result-item{
			padding: 4px 10px;
			border-bottom: 1px solid #d2d6de;
			&:hover{background: rgba(255, 255, 226, 0.65);}
		}
	}

	//таблица заказов
	#order-details{background:#fff;

				   .order-info{display: block;background: rgba(238, 238, 238, 0.34);
							   margin-top: -8px;
							   padding: 8px;}
				   h5{font-weight: bold;}
				   img{height: 40px}
				   table{margin-bottom: 0;}
				   th{text-align: left}
				   td{vertical-align: middle}
	}
}
