@import "less/variables.less";
@import "less/bootstrap.less";

.site-contact{float:left;
	background: #fff;
	padding: 20px; h3{border-bottom:1px solid #eee;}
}
//USERS
.site-login, .site-signup{
	width: 30%; margin:0 auto; text-align: center;
}

.cart-check{
	margin-bottom: 20px;
}
.cart-form{
	background: #fff;border: 4px solid #e8e8e8;border-radius: 6px;
		padding: 10px 30px 30px;margin-top:20px;
	box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.25);
	.form-group{position: relative;}
}
.return-shop{
	.btn; .btn-xs; float:left;margin-right:20px;color:@brand-info;
}
#clearcart{
	.btn; .btn-xs; float:left;color: #7d7d7d!important;background: #fff;border: 1px solid #e2e2e2;
}
#minicart{
	div.wishlist, .minicart-full, .minicart-empty{display: inline-block;}
	div.wishlist{margin-top: 5px;float: left;font-size: 10px; color: #ddd; 
				 i.wishlist{margin-right: 10px;}
	}
	cursor: pointer;padding: 5px;
	text-align: right;color: #656565;
	i.glyphicon{font-size: 2em;}
	.minicart-qty{
		font-weight: bold;
		position: absolute;
		top: -3px;
		right: 5px;
	}
	.minicart-sum{
		font-size: 12px;color: white;
	}
}

.cart-step{
display: inline-block;    
    font-style: italic;
    background: #fff;
    border: 2px solid #333;
    padding: 5px 10px;
    border-radius: 15px;
	&.active{background: lighten(@brand-success, 40%); border-color:@brand-success}
}
.cart .separator{margin: 0 20px;}

#modal{
	.modal-header {
		padding: 5px 15px;
		border-bottom: 1px solid #e2e2e2;
		background: #efefef;
	}
	.modal-footer {
		padding: 15px;
		text-align: right;
		border-top: 3px solid #e2e2e2;
		background: #efefef;
	}
	.modal-content{
		border-width: 3px;
	}
	.close{color: #000000;
		   text-shadow: none;
		   opacity: 1;}
	a.btn-info{color:#fff}
}
#del-item{
	cursor: pointer;
}
ul.pagination {    width: 100%;
				   a,span{padding: 1px 20px;}
} 
body#frontend{background-color:#f9f9f9;
			  //  .wrap{background-color:rgba(0, 161, 228, 0.15)}

			  // background-image: url(../../images/pages/bg.jpg);
			  background-position: center 0 ;
			  background-repeat:  no-repeat;
			  background-size: contain;

			  color:#464646;
}


#top-block{border-top: 3px solid #e92d00;font-size: 12px;
		   .container-fluid{padding-bottom: 5px;padding-top: 4px;}
		   ul{margin-bottom: 0;
			  a{	padding: 5px 0;
				 border-right: 1px solid #dcdcdc;
				 padding-right: 10px;
			  }
			  li:last-child a{border-right: none;}
		   }
		   a{color:#464646}
		   .login{
			   background: #e92d00;
			   padding: 8px 20px 7px;
			   color: #fff;
			   border-radius: 0 0 3px 3px;
		   }
		   .client{
			   background: #e92d00;
			   padding: 8px 20px 7px;
			   color: #fff;
			   border-radius: 0 0 3px 3px;margin-left:10px;
		   }
		   .logout{
			   background: #818591;
			   padding: 8px 20px 7px;
			   color: #fff;
			   border-radius: 0 0 3px 3px;
		   }

		   .registration{
			   background: #fff;
			   padding: 5px 5px 7px;
			   color: #333;

		   }
}


#header-block{
	   

	.container-fluid{padding-top:20px;padding-bottom:20px;
					 background-color: #fff;
					 a{color: #2b222e;}
					 .contacts {
						 .tel1 {
							 color: #e92d00;
							 font-size: 20px;display: block;
						 }
						 .slogan {
							 margin-top: -7px;
							 font-size: 12px;
							 margin-left: 10px;
						 }
						 .tel2 {
							 color: #e92d00;
						 }
					 }
	}
}
#showcase-block{
	background-color: #fff;
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
		.w-13{padding-left: 0;padding-right: 0;}
	}
}
#main-block{
	.container-fluid{padding-top: 10px;
					 padding-bottom: 40px;
					 //background-color: rgba(17, 17, 21, 0.92);
	}
}

#bottom-block{
	.container-fluid{background: #26272c;
					 padding: 0 0 50px;
					 .w-title{text-align: center;}
					 .ymaps-2-1-45-events-pane{box-shadow: 0 0 100px 16px #593c01 inset;}
	}
}

#footer-block{
	background-image: url('../../images/bg.png');
	background-position: 50% 50%;
	.container-fluid{background: rgba(228, 238, 255, 0.57);}
	h3{    font-size: 20px;color: #5d5d5d;}
	li{
		list-style: none;
		padding: 4px 0;
		border-top: 1px dotted #f9f9f9;
		display: block;
		.transition(all .4s ease-out);
		&:after{
			content: '\e080';
			font-family: 'Glyphicons Halflings';
			float: right;
			color: #fff;
			.transition(all .4s ease-out);
		}
		&:hover{
			&:after{padding-right: 4px;color:@brand-info}
			a{color:@brand-info}
		}
		a{color:#292929}

	}
}

#copyright-block{
	.container-fluid{padding-top:10px; padding-bottom: 10px;background-color:#e3e8f2;}

}



#filter{
	background-color:rgba(0, 94, 143, 0.74);    padding: 30px;
}







.product{
	h1 {text-align: center;margin:0 0 20px; a{color:#212325; }}
	.medias{background: #fff;text-align: center;border: 4px solid #e8e8e8; border-radius: 6px;
			.mf{    position: absolute;
					right: 0;
					top: 7px;
					background: #fff;
					padding: 3px 10px;
					img{height: 30px;}
			}
	}
	.rating{
		.param-label{color: #9c9c9c;}
		.param-body{margin-left: 10px;
					font-weight: bold;
					color: #6f6f6f;}
	}
	.main-image img{ .transition(all 1s ease-out 1s)}
	.thumbs {border-top: 1px solid #e8e8e8;
			 img{height: 100px;margin-left: 20px;    margin-top: 3px; .transition(all .1s ease-out .1s);
				 &:hover{opacity: 0.8; margin-top: -3px;margin-bottom: 6px;}
			 }
	}


	.short-desc{padding: 10px;
				margin: 20px -20px;
				background: #dee7f5;
				text-align: center;}
	.ask-a-question{
		background: #fff;
		padding: 10px;
		border: 3px solid #dee7f5;
		border-radius: 26px;
	}

	.cartblock spacer{margin:0 0 0 5px;display: block;    text-align: center;
					  background: #E4EEFF;
					  padding: 20px;
					  border-radius: 6px;
					  border: 5px solid #dee7f5;}


	div.price{font-size: 1.3em;}
	.addtocart{ display: block;text-align: center;     .transition(all .5s ease-out .1s);
				width: 100%;
				background-color: #e92d00;
				border-color: #d02800;
				padding: 10px;
				border-radius: 5px;
				color: #fff;
				margin: 15px 0;

				&:hover{color: #fff;
						background-color: #b62300;
						border-color: #921c00;
						a{color:#fff!important;}
				}
	}
	.contact{margin: 20px 0;}
	ul.nav{margin-top: 40px}
	.tab-content{padding: 20px;
				 background: #fff;
				 margin-top: 30px;
				 border: 3px solid #e8e8e8;
				 border-radius: 6px;
				 .group_name{font-weight: bold;
							 font-size: 20px;
							 background: #e8e8e8;
							 padding: 3px 10px;}
	}
	.specifications{
		.param{    border-bottom: 1px dotted #e8e8e8;padding: 3px 0;}
		.param-label{
			font-weight: 700;
			margin-right: 20px;
			min-width: 40%;
			display: inline-block;
		}
	}

}
.comment{
	margin-bottom: 20px;
    background: #fff;border: 3px solid #e6e6e6;
    border-radius: 6px;
    padding: 20px;
	.author{   margin-right: 30px;color:@brand-info}
	.c1{float:right}
}
//СТРАНИЦА КАТЕГОРИИ
.category{
	h1{text-align: center;margin-bottom: 30px;height: 2em; overflow: hidden;}
	.product{
		background: #fff;display: inline-block;
		padding: 5px 20px 0px 20px; margin-bottom: 20px;
		border: 5px solid #eee;
		border-radius: 4px;
		box-shadow: 6px 6px 11px 0px rgba(121, 121, 121, 0.38);
		h5  a{height: 2em; overflow: hidden;color:#212325;margin: 0;    display: block;}
		.mf{
			img{height: 11px;}
		}
	}

	.transition(all easy 0.5s);

	.addtocart{
		margin-top: 10px;
		padding: 5px 15px;float: right;
		background: @brand-info;
		color: #fff!important;
		border-radius: 10px 10px 0 0;    margin-bottom: -6px;
		&:hover{
			background:darken(@brand-info, 10%);
			color: #fff;
		}
		&:before{content: "\e165";margin-right:5px;
				 font-family: 'Glyphicons Halflings';}
	}


}


//ТИПОГРАФИКА
h1,h2,h3,h4,h5,h6{.clearfix;padding-top:0;
				  a:hover{text-decoration: none; }
}



//ВИДЖЕТЫ

//CATEGORIES
.widget-categories{
	.spacer{
		   background: white;
		   padding: 20px;
		   //border-radius: 3px;
		   margin-bottom: 30px;
		   .c1{width: 48%;display: inline-block;
			   a.btn{border: 1px solid #464646; .transition(all 0.9s ease);
				padding: 10px 30px;
				border-radius: 50px;
				text-transform: uppercase;
				margin-top: 70px;
				display: inline-block;
				color: #464646;
			    i{color:#d8dcdf; margin-right: 5px}
			   }
		   }
		   .c2{ width:50%;display: inline-block;text-align: right}
		 
		   img{height: 160px; .transition(all 22s ease)}
		   h4{font-size: 1.8em;position:absolute;font-weight: bold;
			 
		   }
		   a{color:@brand-info;}
		   &:hover{
			   img{transform:scaleX(-1);}
			   h4{color:#000;}
			   a.btn{background:#949494; color:#fff; }
		   }
	}
}

.widget-products{
	h3.title{font-size: 3em; text-align: center; margin: 55px 0}
	.item{
		.spacer{background: #fff;padding:33px;}
		.title a{color:#333}
		.param.main-img{
			.main-image{    width: 80%;
							float: left;}
			.thumbs{    width: 20%;
						float: right;
						padding: 10px;
						img{}
			}
		}
		.param.price{font-weight: bold;
					 font-size: 1.4em;
					 color: black;
		}
		
		.label{
			  position: absolute;
    display: block;
    z-index: 99;
    top: -10px;
    left: 8px;
    padding: 12px;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
			   }
		.label.featured{
			background: #e92d00;    border-bottom: 2px solid #c72700;
			
		}
		.rating{
			.param-label{display: inline-block;margin-right: 10px}
			.glyphicon-star{color:#e92d00}
			.glyphicon-star-empty{color:#e3e8f2}
		}
	}

}
//NAVBAR
.w-4{nav{margin-bottom: 0;}}
.w-3,.w-10{    color: #525252;
    background: #fff;
    padding: 10px 20px 20px;
    border: 4px solid #e8e8e8;
    
    border-radius: 6px;
		   .w-title{color:#525252;font-size: 19px;margin-top: 0;}
}
.w-11 .w-body{overflow: hidden;}

.w-5 .w-body{margin-top: 8%;
			 margin-left: 11%;
			 padding: 30px;
			 font-size: 20px;
			 color: #ffffff;
			 box-shadow: 0 0 60px 10px rgb(80, 83, 97);
			 background: rgba(16, 17, 21, 0.59);
			 border: 5px solid rgba(0, 0, 0, 0);
}
.w-6{    text-align: center;
		 .tel{font-size: 2em;font-weight: 700;margin: 10px auto;}
		 .contact-btn a:first-child{margin-right:15px}
		 .time{margin-top: 10px;font-size: 11px;}
}



.logo {
	.slogan {
		display: block;
		font-size: 11px;
		margin-top: -15px;
	}
}

//SEARCH WIDGET
.w-12{
	input{border: 2px solid #656565;
		  border-radius: 20px 0 0 20px;
		  padding: 20px;}
	button{    border-radius: 0 20px 20px 0;
			   border: 2px solid #656565;
			   border-left: 0;
			   padding: 10px 12px;
			   color: #b5b3b3;}
}
#search-result{
	position: absolute;
    background: #ffffff;
    left: 20px;
    right: 20px;
    z-index: 9;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 8px 10px 5px rgba(99, 99, 99, 0.31);
    border: 2px solid #b5b3b3;
    border-top: none;
    top: 44px;
	.result-item{padding: 5px 15px;color:#333;cursor:pointer;
				 &:hover{background:#c6f1f3;}
	}
}

//FILTER widget
#filter-result{
	position: absolute;
    background: #f4f0d3;
    left: 40px;
    right: 40px;
    z-index: 9;
    margin-top: -2px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 8px 10px 5px rgba(99, 99, 99, 0.31);
    border: 4px solid #d0a34b;
    border-top: none;
	.result-item{padding: 5px 15px;color:#333;cursor:pointer;
				 &:hover{background: #d0a34b;}
	}
}
.social-vk,.social-fb,.social-twitter{  height: 16px; width: 16px;display: inline-block;}
.social-vk{background: url('../../images/vk.png')}
.social-fb{background: url('../../images/facebook.png')}
.social-twitter{background: url('../../images/twitter.png')}

//BOOTSTRAP 3
div.required label.control-label:after {
    content: " *";
    color: red;
}



//end custom

img {
	max-width: 100%;
}

#nav-block{background: #656565;}
.navbar-default .navbar-nav > li > a {
    color: #fff;font-weight: bold;
}
.navbar{border: 0;}
nav .container{
	width: inherit; padding: 0;
	background-color:transparent!important;
	ul li a{
		border:1px solid transparent;  
		&:hover{background-color:#cccccc;}
	}
	.navbar-collapse{padding: 0}
}
a{cursor: pointer;
  &:hover{
	  text-decoration:none;
  }
}

.breadcrumb li a{color:#2b222e}
